# Project Title
---

Group Name

Team members:
- Name
- Name
- Name

## Introduction 
__Introduction to the topic__ 

    ...

---

## Problem Statement

    ...

## Objectives:
__Questions that will guide the analysis to solve the problem__

    ...

---

## Exploratory Data Analysis (EDA):

### Data Info:
__Getting the data and exploring it (includes descriptive statistics)__

In [ ]:
import pandas as pd
gni_path =  "world-development-statistics\gni_per_cap_atlas_method_con2021.csv"
population_path ="world-development-statistics\population.csv"
life_path ="world-development-statistics\life_expectancy.csv"

gni_df = pd.read_csv(gni_path)
life_df = pd.read_csv(life_path)
population_df  = pd.read_csv(population_path)

,country,1920,1921,1922,1923,1924,1925,1926,1927,1928,...,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034
0,Afghanistan,366,368,371,373,376,378,380,382,384,...,548,557,567,577,587,598,610,622,635,648
1,Angola,675,693,711,730,749,769,789,809,830,...,2120,2130,2150,2170,2190,2220,2260,2300,2340,2390
2,Albania,436,440,444,447,451,455,458,462,466,...,6390,6620,6860,7090,7320,7530,7730,7930,8110,8290
3,United Arab Emirates,7280,8130,9080,9550,10k,10.5k,10.9k,11.3k,11.7k,...,38.7k,38.5k,38.4k,38.4k,38.5k,38.9k,39.3k,39.9k,40.6k,41.4k
4,Argentina,2960,2960,3100,3320,3460,3340,3410,3540,3660,...,9880,9930,9990,10.1k,10.2k,10.3k,10.5k,10.7k,10.9k,11.1k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Samoa,559,566,573,579,586,593,600,607,614,...,3970,4020,4070,4130,4190,4260,4340,4420,4510,4600
187,Yemen,277,278,278,279,280,281,281,282,283,...,969,1000,1030,1070,1100,1130,1160,1180,1210,1240
188,South Africa,1180,1210,1240,1260,1290,1390,1440,1470,1600,...,6100,6080,6080,6090,6120,6180,6260,6350,6470,6600
189,Zambia,315,318,320,323,325,327,329,331,333,...,1060,1050,1040,1030,1030,1030,1040,1050,1070,1090
190,Zimbabwe,512,509,505,503,499,496,493,490,486,...,1190,1200,1210,1220,1230,1250,1270,1290,1320,1340

In [ ]:
gni_clean = gni_df.drop(columns=[str(x) for x in range(1800,1920)])
gni_clean.drop(columns=[str(x) for x in range(2035,2051)], inplace=True)
gni_clean = gni_clean[gni_clean["country"] != "Liechtenstein"]

gni_clean.dtypes
gni_clean["1920"].unique()


for column in gni_clean.columns  :
    if column == "country":
        continue
    if gni_clean[column].astype(str).str.contains("k").any():
        result = []
        for value in gni_clean[column]:
            result.append(to_int(value))
        gni_clean[column] = result
        print(column,"converted to int")

print("number of empty cells =", gni_clean.isnull().sum().sum())

1920 converted to int
1921 converted to int
1922 converted to int
1923 converted to int
1924 converted to int
1925 converted to int
1926 converted to int
1927 converted to int
1928 converted to int
1929 converted to int
1930 converted to int
1931 converted to int
1932 converted to int
1933 converted to int
1934 converted to int
1935 converted to int
1936 converted to int
1937 converted to int
1938 converted to int
1939 converted to int
1940 converted to int
1941 converted to int
1942 converted to int
1943 converted to int
1944 converted to int
1945 converted to int
1946 converted to int
1947 converted to int
1948 converted to int
1949 converted to int
1950 converted to int
1951 converted to int
1952 converted to int
1953 converted to int
1954 converted to int
1955 converted to int
1956 converted to int
1957 converted to int
1958 converted to int
1959 converted to int
1960 converted to int
1961 converted to int
1962 converted to int
1963 converted to int
1964 converted to int
1965 converted to int
1966 converted to int
1967 converted to int
1968 converted to int
1969 converted to int
1970 converted to int
1971 converted to int
1972 converted to int
1973 converted to int
1974 converted to int
1975 converted to int
1976 converted to int
1977 converted to int
1978 converted to int
1979 converted to int
1980 converted to int
1981 converted to int
1982 converted to int
1983 converted to int
1984 converted to int
1985 converted to int
1986 converted to int
1987 converted to int
1988 converted to int
1989 converted to int
1990 converted to int
1991 converted to int
1992 converted to int
1993 converted to int
1994 converted to int
1995 converted to int
1996 converted to int
1997 converted to int
1998 converted to int
1999 converted to int
2000 converted to int
2001 converted to int
2002 converted to int
2003 converted to int
2004 converted to int
2005 converted to int
2006 converted to int
2007 converted to int
2008 converted to int
2009 converted to int
2010 converted to int
2011 converted to int
2012 converted to int
2013 converted to int
2014 converted to int
2015 converted to int
2016 converted to int
2017 converted to int
2018 converted to int
2019 converted to int
2020 converted to int
2021 converted to int
2022 converted to int
2023 converted to int
2024 converted to int
2025 converted to int
2026 converted to int
2027 converted to int
2028 converted to int
2029 converted to int
2030 converted to int
2031 converted to int
2032 converted to int
2033 converted to int
2034 converted to int
number of empty cells = 0

int64     115
object      1
Name: count, dtype: int64

In [91]:
gni_clean["1920"].unique()
gni_clean["1920"].dtype

dtype('int64')

1921 converted to int
1922 converted to int
1923 converted to int
1924 converted to int
1925 converted to int
1926 converted to int
1927 converted to int
1928 converted to int
1929 converted to int
1930 converted to int
1931 converted to int
1932 converted to int
1933 converted to int
1934 converted to int
1935 converted to int
1936 converted to int
1937 converted to int
1938 converted to int
1939 converted to int
1940 converted to int
1941 converted to int
1942 converted to int
1943 converted to int
1944 converted to int
1945 converted to int
1946 converted to int
1947 converted to int
1948 converted to int
1949 converted to int
1950 converted to int
1951 converted to int
1952 converted to int
1953 converted to int
1954 converted to int
1955 converted to int
1956 converted to int
1957 converted to int
1958 converted to int
1959 converted to int
1960 converted to int
1961 converted to int
1962 converted to int
1963 converted to int
1964 converted to int
1965 converted to int
1966 converted to int
1967 converted to int
1968 converted to int
1969 converted to int
1970 converted to int
1971 converted to int
1972 converted to int
1973 converted to int
1974 converted to int
1975 converted to int
1976 converted to int
1977 converted to int
1978 converted to int
1979 converted to int
1980 converted to int
1981 converted to int
1982 converted to int
1983 converted to int
1984 converted to int
1985 converted to int
1986 converted to int
1987 converted to int
1988 converted to int
1989 converted to int
1990 converted to int
1991 converted to int
1992 converted to int
1993 converted to int
1994 converted to int
1995 converted to int
1996 converted to int
1997 converted to int
1998 converted to int
1999 converted to int
2000 converted to int
2001 converted to int
2002 converted to int
2003 converted to int
2004 converted to int
2005 converted to int
2006 converted to int
2007 converted to int
2008 converted to int
2009 converted to int
2010 converted to int
2011 converted to int
2012 converted to int
2013 converted to int
2014 converted to int
2015 converted to int
2016 converted to int
2017 converted to int
2018 converted to int
2019 converted to int
2020 converted to int
2021 converted to int
2022 converted to int
2023 converted to int
2024 converted to int
2025 converted to int
2026 converted to int
2027 converted to int
2028 converted to int
2029 converted to int
2030 converted to int
2031 converted to int
2032 converted to int
2033 converted to int
2034 converted to int

In [96]:
gni_clean

,country,1920,1921,1922,1923,1924,1925,1926,1927,1928,...,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034
0,Afghanistan,366,368,371,373,376,378,380,382,384,...,548,557,567,577,587,598,610,622,635,648
1,Angola,675,693,711,730,749,769,789,809,830,...,2120,2130,2150,2170,2190,2220,2260,2300,2340,2390
2,Albania,436,440,444,447,451,455,458,462,466,...,6390,6620,6860,7090,7320,7530,7730,7930,8110,8290
3,United Arab Emirates,7280,8130,9080,9550,10000,10500,10900,11300,11700,...,38700,38500,38400,38400,38500,38900,39300,39900,40600,41400
4,Argentina,2960,2960,3100,3320,3460,3340,3410,3540,3660,...,9880,9930,9990,10100,10200,10300,10500,10700,10900,11100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Samoa,559,566,573,579,586,593,600,607,614,...,3970,4020,4070,4130,4190,4260,4340,4420,4510,4600
187,Yemen,277,278,278,279,280,281,281,282,283,...,969,1000,1030,1070,1100,1130,1160,1180,1210,1240
188,South Africa,1180,1210,1240,1260,1290,1390,1440,1470,1600,...,6100,6080,6080,6090,6120,6180,6260,6350,6470,6600
189,Zambia,315,318,320,323,325,327,329,331,333,...,1060,1050,1040,1030,1030,1030,1040,1050,1070,1090
190,Zimbabwe,512,509,505,503,499,496,493,490,486,...,1190,1200,1210,1220,1230,1250,1270,1290,1320,1340

### Data Handling: 
__Cleaning, transforming, and combining data__

### Analysis: 
__Answering the objectives through data analysis__

---

## Summary
__Summarizing the key insights from the analysis__

**Note**: _Use Bullet Points_

    ...

## Recommendations/Conclusion
**Note**: _Use Bullet Points_

    ...