# Project Title
---

Group Name

Team members:
- Name
- Name
- Name

## Introduction 
__Introduction to the topic__ 

    ...

---

## Problem Statement

    ...

## Objectives:
__Questions that will guide the analysis to solve the problem__

    ...

---

## Exploratory Data Analysis (EDA):

### Data Info:
__Getting the data and exploring it (includes descriptive statistics)__

In [40]:
import pandas as pd
gni_path =  "world-development-statistics\gni_per_cap_atlas_method_con2021.csv"
population_path ="world-development-statistics\population.csv"
life_path ="world-development-statistics\life_expectancy.csv"

gni_df = pd.read_csv(gni_path)
life_df = pd.read_csv(life_path)
population_df  = pd.read_csv(population_path)


# gni_df.isnull().sum()
# for column in gni_df.columns:
#     print(column , gni_df[column].dtype)


gni_clean = gni_df.drop(columns=[str(x) for x in range(1800,1920)])
gni_clean.drop(columns=[str(x) for x in range(2035,2051)], inplace=True)
gni_clean

,country,1920,1921,1922,1923,1924,1925,1926,1927,1928,...,2025,2026,2027,2028,2029,2030,2031,2032,2033,2034
0,Afghanistan,366,368,371,373,376,378,380,382,384,...,548,557,567,577,587,598,610,622,635,648
1,Angola,675,693,711,730,749,769,789,809,830,...,2120,2130,2150,2170,2190,2220,2260,2300,2340,2390
2,Albania,436,440,444,447,451,455,458,462,466,...,6390,6620,6860,7090,7320,7530,7730,7930,8110,8290
3,United Arab Emirates,7280,8130,9080,9550,10k,10.5k,10.9k,11.3k,11.7k,...,38.7k,38.5k,38.4k,38.4k,38.5k,38.9k,39.3k,39.9k,40.6k,41.4k
4,Argentina,2960,2960,3100,3320,3460,3340,3410,3540,3660,...,9880,9930,9990,10.1k,10.2k,10.3k,10.5k,10.7k,10.9k,11.1k
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
186,Samoa,559,566,573,579,586,593,600,607,614,...,3970,4020,4070,4130,4190,4260,4340,4420,4510,4600
187,Yemen,277,278,278,279,280,281,281,282,283,...,969,1000,1030,1070,1100,1130,1160,1180,1210,1240
188,South Africa,1180,1210,1240,1260,1290,1390,1440,1470,1600,...,6100,6080,6080,6090,6120,6180,6260,6350,6470,6600
189,Zambia,315,318,320,323,325,327,329,331,333,...,1060,1050,1040,1030,1030,1030,1040,1050,1070,1090
190,Zimbabwe,512,509,505,503,499,496,493,490,486,...,1190,1200,1210,1220,1230,1250,1270,1290,1320,1340

In [37]:
gni_df["1897"].unique()
gni_df[gni_df["1897"].isnull()]
gni_df[gni_df["country"] == "Liechtenstein"]

gni_df.isnull().sum()
gni_df["2000"]

0        178
1        540
2       1650
3      47.1k
4      11.2k
       ...
186     2010
187      645
188     5130
189      495
190      765
Name: 2000, Length: 191, dtype: object

In [33]:
gni_df.columns

Index(['country', '1800', '1801', '1802', '1803', '1804', '1805', '1806',
       '1807', '1808',
       ...
       '2041', '2042', '2043', '2044', '2045', '2046', '2047', '2048', '2049',
       '2050'],
      dtype='object', length=252)

### Data Handling: 
__Cleaning, transforming, and combining data__

### Analysis: 
__Answering the objectives through data analysis__

---

## Summary
__Summarizing the key insights from the analysis__

**Note**: _Use Bullet Points_

    ...

## Recommendations/Conclusion
**Note**: _Use Bullet Points_

    ...